body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}

.header {
    width: 100%;
    height: 10%;
    background-color: rgba(0,150,255,.3);
    
}

#title {
    margin: auto;
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 50px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 1s;
    cursor: pointer;
    font-size: x-large;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #e60000;
}

.button1:hover {
    background-color: #e60000;
    color: white;
}

.sender {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}


.searchform{
    background-color: #4654e1;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.searchbar {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7; 
}

.searchbutton {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}
  
svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}