<html>
    <head>
        <link href="{{ url_for('static', filename='css/website.css') }}" rel="stylesheet">
        <title>Unsubscriber</title>
    </head>

    <body>
        <script src="{{ url_for('static', filename='js/website.js') }}"></script>
        
        <h1>Unsubscribe links</h1>
        
        {% for i in range(num_of_emails) %}

            <p>{{ all_senders[i] }}</p>

            <a href= "{{ all_links[i] }}" target=_blank title="Click to unsubscribe">
                <button class="button button1">Unsubscribe</button>
            </a>

        {% endfor %}
    </body>
</html>

