<html>
    <head>
        <link href="{{ url_for('static', filename='css/grablinks.css') }}" rel="stylesheet">
        <title>Unsubscriber</title>
    </head>

    <body>
        <script src="{{ url_for('static', filename='js/grablinks.js') }}"></script>

        <div class = "header">
            <h1 id = "title">Unsubscribe Links</h1>
        </div>

        <div class = "center">
            {% for i in range(num_of_emails) %}

                <p class = "sender">{{ all_senders[i] }}</p>

                <a href= "{{ all_links[i] }}" target=_blank title="Click to unsubscribe">
                    <button class="button button1">Unsubscribe</button>
                </a>
                <button id ="deletebtn" class="button button1">Delete Emails From Sender?</button>

            {% endfor %}
        </div>
    </body>
</html>

