<html>
    <head>
        <link href="{{ url_for('static', filename='css/signup.css') }}" rel="stylesheet">
        <title>Sign Up</title>
    </head>

    <body> 
        
            <div id = "signup">       
                <form id = "signup">
                    <label for="email">Email:</label><br>
                    <input type="text" id="email" name="email"><br>
                    <label for="password">Generated Password:</label><br>
                    <input type="text" id="password" name="password">
                </form>
                <!-- <a href="grablinks.html"> -->
                <button id="signupbtn">Confirm</button>
                <!-- </a> -->
                
            </div>
            
        <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
    </body>
</html>

