<html>
    <head>
        <link href="{{ url_for('static', filename='css/website.css') }}" rel="stylesheet">
        <title>Unsubscriber</title>
    </head>

    <body>
        <script src="{{ url_for('static', filename='js/website.js') }}"></script>
        
        <h1>Unsubscribe links</h1>
        
        {% for i in range(num_of_emails) %}

            <p>{{ all_senders[i] }}</p>

            <a href= "{{ all_links[i] }}" target=_blank title="Click to unsubscribe">
                <button class="button button1">Unsubscribe</button>
            </a>

        {% endfor %}

        <a href="https://stackoverflow.com/questions/40844903/how-can-i-run-a-python-script-in-html" target=_blank title="Click to unsubscribe">
            <p>Stack</p>
        </a>
    </body>
</html>

